<base href="/">
<ion-content class="auth-form">
    <center>
        <br>
        <ion-title class="title">
            FitnessUp
        </ion-title>
        <ion-title class="title2">
            Find a New You
        </ion-title>
        <ion-grid>
            <ion-row>
                <ion-col align-self-center>
                    <ion-button class="homebuttons" expand="block" color="primary" (click)="generateFitPortfolio()">Sign Up and Find the New You</ion-button>
                    <br>
                    <span class="already">Already Joined?</span>
                    <ion-button class="homebuttons" href="tabs/tab1" expand="block" color="primary">Sign In</ion-button><br>
                    <ion-img class="logo" src="https://i.ibb.co/4SVFDvq/dumbbells-clipart-health-fitness-health-and-fitness-icon-11563262334u7mrcjg2ri-removebg-preview.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </center>
</ion-content>