ion-content {
    color: white;
    --ion-background-color: #3cadf8;
}

ion-toolbar {
    color: white;
    --ion-background-color: #f5c939;
    text-align: center;
}

ion-item {
    color: white;
    --ion-background-color: #3CBBC6;
    // float: left;
    // width: 33.33%;
    // padding: 5px;
    // text-align: bottom;
}

ion-card {
    color: #046E9E;
    --ion-background-color: white;
}

.progress {
    text-align: center;
}