ion-content {
    color: white;
    --ion-background-color: #3cadf8;
}

ion-toolbar {
    color: white;
    --ion-background-color: #f5c939;
    text-align: center;
}

ion-item {
    color: white;
    --ion-background-color: #f5c939;
}

ion-card {
    color: #046E9E;
    --ion-background-color: white;
}

.centerDude {
    text-align: center;
}