<ion-header>
    <ion-toolbar>
        <ion-title>Overview</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <span>
      You lost {{overviewCalories}} Calories from doing this {{overviewExercise}} challenge. Good Job!
    </span>
    </ion-item>
    <br>
    <ion-card>
        <ion-card-content>
            Fit Tip: 37 calories is the average amount lost doing 1 of our challenges!
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-content class="centerDude">
    <ion-button id="ending" href="tabs/tab1">Return Home</ion-button>
    <!-- <br>
    <br>
    <ion-button id = "ending" href = "tabs/tab2">View My Progress</ion-button> -->
</ion-content>