ion-content {
    color: white;
    --ion-background-color: #3cadf8;
}

ion-toolbar {
    color: white;
    --ion-background-color: #f5c939;
    text-align: center;
}

ion-item {
    color: white;
    --ion-background-color: #f5c939;
}

img {
    padding-top: -100px;
}