<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Upper Body Challenges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button [routerLink]="['/timer-app']">
    <ion-label>
      Push-Ups
    </ion-label>
  </ion-item>

  <ion-item button="">
    <ion-label>
      Triceps Box Dips 
    </ion-label>
  </ion-item>

  <ion-item button="">
    <ion-label>
      Forearm Plank Reach Out 
    </ion-label>
  </ion-item>

  <ion-item button="">
    <ion-label>
      Tap Planks
    </ion-label>
  </ion-item>

  <ion-item button="">
    <ion-label>
      Decline Push-up
    </ion-label>
  </ion-item>
</ion-content>
